.box1 {
    width: 300px;
    height: 200px;
    background-color: orangered;
    border: 10px solid black;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

.box2 {
    box-sizing: border-box;
}

h2 {
    font-size: 20px;
    color: navy;
}

p {
    font-size: 15;
    color: grey;
}

section {
    text-align: center;
}

body {
    background-color: bisque;
}